.form-group-axis {
    &.x-axis {
        nb-select ::ng-deep {
            button.select-button:not(:disabled) {
                background-color: #3366ff;
                color: white;
                font-weight: 600;
            }
        }
    }

    &.y-axis {
        nb-select ::ng-deep {
            button.select-button:not(:disabled) {
                background-color: #ff3d71;
                color: white;
                font-weight: 600;
            }
        }
    }
}

nb-select.select-cleanable {
    position: relative;
    .select-cleaner {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }
    nb-select-label {
        padding-left: 1rem;
    }
}