.form-group-axis {
    &.x-axis {
        nb-select ::ng-deep {
            button.select-button:not(:disabled) {
                background-color: #3366ff;
                color: white;
                font-weight: 600;
            }
        }
    }

    &.y-axis {
        nb-select ::ng-deep {
            button.select-button:not(:disabled) {
                background-color: #ff3d71;
                color: white;
                font-weight: 600;
            }
        }
    }

    ::ng-deep {
        nb-icon {
            color: inherit !important;
        }
    }
}

.select-container.has-checkbox {
    position: relative;
    .select-checkbox {
        position: absolute;
        left: 0.75rem;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        height: 20px;
    }
    nb-select ::ng-deep .select-button {
        padding-left: 2.5rem;
    }
}
