.x-axis-selected {
    background-color: #3366ff;
    color: white;
}

.y-axis-selected {
    background-color: #ff3d71;
    color: white;
}

.data-table {
    width: 100%;
    ::ng-deep {
        th.mat-header-cell, td.mat-cell {
            padding: 0.5rem;
        }
    }
}